/* =============================================================================
 # MAIN
============================================================================= */

@use '../tools' as *;

main {
  height: calc(100% - 2.5625rem);
  padding: 1rem;
  overflow-y: scroll;
  @include hideScrollbarY;
}
