/* =============================================================================
 # PAGE
============================================================================= */

:root {
  background: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: clamp(16px, calc(10px + 1.5vw), 32px);
  min-height: 100%;
}
