/* =============================================================================
 # PAGE
============================================================================= */

:root {
  background: var(--color-secondary);
  font-family: var(--font-primary);
  min-height: 100%;
}
