/* =============================================================================
 # PAGE
============================================================================= */

:root {
  font-family: var(--font-primary);
  font-size: clamp(10px, calc(10px + 1.75vw), 50px);
  min-height: 100%;
  overflow-y: scroll;
}
