/* =============================================================================
 # COLLAPSIBLE
============================================================================= */

.o-collapsible {
  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.2s;
  }
}
