/* =============================================================================
 # COLLAPSIBLE
============================================================================= */

.o-collapsible {
  display: grid;
  grid-template-columns: var(--size-l) 1fr;

  &__toggler {
    cursor: pointer;

    svg:first-child {
      transition: transform ease-in-out 0.2s;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.2s;
    grid-column: 2;
  }
}
