/* =============================================================================
 # MODAL
============================================================================= */

@use '../tools' as *;

.o-modal {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: setAlpha(var(--color-primary), 0.2);
  transition: background ease-in-out 0.2s;
}
