/* =============================================================================
 # NAV LINK
============================================================================= */

.o-nav-link {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.375em;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  cursor: pointer;

  svg {
    width: 1.25rem;
    transition: transform ease-in-out 0.2s;
  }
}
