/* =============================================================================
 # SIZES
============================================================================= */

:root {
  --size-xxxs: 0.25rem; /* 4px */
  --size-xxs: 0.375rem; /* 6px */
  --size-xs: 0.5rem; /* 8px */
  --size-s: 0.75rem; /* 12px */
  --size-m: 1rem; /* 16px */
  --size-l: 1.25rem; /* 20px */
  --size-xl: 1.5rem; /* 24px */
  --size-xxl: 2rem; /* 32px */
  --size-xxxl: 2.5rem; /* 40px */

  --font-xs: 0.75rem; /* 12px */
  --font-s: 0.875rem; /* 14px */
  --font-m: 1rem; /* 16px */
  --font-l: 1.125rem; /* 18px */
  --font-xl: 1.25rem; /* 20px */
  --font-xxl: 1.5rem; /* 24px */
  --font-xxxl: 2rem; /* 32px */
}
