@font-face {
  font-family: "Recursive";
  src: url(../assets/Recursive_VF_1.079.woff2)
      format("woff2 supports variations"),
    url(../assets/Recursive_VF_1.079.woff2) format("woff2-variations");
  font-weight: 300 1000;
  font-display: swap;
}
