@use './0-settings/colors';
@use "./0-settings/fonts";

@use "./1-generic/normalize";
@use "./1-generic/resets";

@use "./2-base/body";
@use "./2-base/button";
@use "./2-base/main";
@use "./2-base/nav";
@use "./2-base/page";
@use "./2-base/text";

@use "./4-components/MainNav";
@use "./4-components/Menu";

@use "./6-trumps/hide";
