/* =============================================================================
 # FORM
============================================================================= */

.c-Form {
  background: var(--color-secondary);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid var(--color-primary);

  &__header {
    font-size: 1.125rem;
  }

  &__favourite {
    display: flex;
    gap: 0.25rem;
  }
}
