/* =============================================================================
 # MENU
============================================================================= */

@use '../tools' as *;

.c-Menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -75vw;
  height: calc(100% - 2.5625rem);
  overflow-y: scroll;
  transition: transform ease-in-out 0.2s;
  @include hideScrollbarY;

  &__sections {
    background: var(--color-secondary);
    height: 100%;
    width: 75vw;
    border-right: 0.0625rem solid var(--color-primary);
    padding: 1.5rem 1rem 1.5rem 2rem;
    flex-direction: column;
  }

  &__section-header {
    margin-top: 0.75rem;
    font-weight: 700;
  }

  &__section-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &--is-open {
    transform: translateX(75vw);
  }
}
