/* =============================================================================
 # MENU
============================================================================= */

@use '../tools' as *;

.c-Menu {
  display: flex;
  height: calc(100% - 2.5625rem);
  position: fixed;
  top: 0;
  transform: translateX(-100vw);
  transition: transform ease-in-out 0.2s;

  &__content {
    background: var(--color-secondary);
    border-right: 0.0625rem solid var(--color-primary);
    flex-direction: column;
    gap: 0.75rem;
    height: 100%;
    padding: 1.5rem 1rem 1.5rem 2rem;
    width: 75vw;
    @include hideScrollbarY;
  }

  &--is-open {
    transform: translateX(0);
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__header,
  &__link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.375rem;
    cursor: pointer;

    svg {
      width: 1.25rem;
    }
  }

  &__color-decor {
    margin: 0.3rem;
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
  }

  &__header-text,
  &__link-text {
    font-size: 1rem;
    line-height: 1;
  }

  &__header-text {
    font-weight: 700;
  }

  &__link-text {
    font-weight: 400;
  }

  &__transparent-area {
    width: 25vw;
  }
}
