/* =============================================================================
 # TASK
============================================================================= */

.c-Task {
  margin-top: 0.375rem;
  padding-top: 0.375rem;

  button {
    align-self: start;
  }

  &__container {
    display: grid;
    gap: 0.25rem 0.375rem;
    grid-template-columns: 1.25rem 1fr;
    padding-bottom: 0.375rem;
    border-bottom: 0.0625rem dashed var(--color-primary);
  }

  &__check-button {
    border: 0.125rem solid var(--color-primary);
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.0625rem;

    svg {
      display: none;
      max-width: 100%;
    }
  }

  &__header {
    font-size: 1rem;
    font-weight: 400;
    align-self: center;
  }

  &__description {
    grid-column: 2;
    font-size: 0.875rem;
    font-weight: 325;
  }
}

.c-Task:is(.o-collapsible) {
  display: grid;
  gap: 0 0.375rem;
  grid-template-columns: 1.25rem 1fr;

  .c-Task {
    margin-left: 1.75rem;
  }
}
