/* =============================================================================
 # VIEW
============================================================================= */

.c-View {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}
